﻿@model dynamic
@{
        Script.Require("jscookie");
}
@if (!String.IsNullOrEmpty(Model.Text)) {
    <div id="cookieconsent" class="cookieconsent">
    @if (Model.HeaderText != null) {
        <div class="header">@Model.HeaderText</div>
    }
    @if (Model.HtmlText != null) {
        <div class="body">@Model.HtmlText</div>
    }
        <button type="button" class="button button-accept" data-url="@Url.Action("Accept","CookieConsent", new { Area = "Datwendo.CookieConsent", ReturnUrl = Request.Url})">@Model.ButtonText</button>
    </div>
}

@using (Script.Foot()) {
    <script type="text/javascript">
        $(function () {
            // Assign the js-cookie api to a different variable and restore the original "window.Cookies"
            var Cookies2 = Cookies.noConflict();
            var antiForgeryToken = '@HttpUtility.JavaScriptStringEncode(Html.AntiForgeryTokenValueOrchard().ToString())';
            var cookieName = '@Model.CookieName';
            var cookieLife= @Model.Delay;
            $('.button-accept').click(function () {
                var postUrl = $(this).data('url');
                $.ajax({
                    type: 'POST',
                    url: postUrl,
                    async: false,
                    data: {
                        __RequestVerificationToken: antiForgeryToken,
                        referrer: document.referrer
                    },
                    success: function (data) {
                        Cookies2.set(cookieName,data , { expires: cookieLife });
                        $('#cookieconsent').hide();
                    },
                    fail: function (result) {
                        alert("An error occured: " + result);
                    }
                });
            });
        });
    </script>
}
