﻿@using Datwendo.CookieConsent.Models
@using Orchard.ContentManagement
@using Orchard.Environment.Descriptor.Models
@using Orchard.Localization
@using System.Globalization


@model CookieConsentSettingsPart

@{
    var shellDescriptor = WorkContext.Resolve<ShellDescriptor>();
    var currentCulture = CultureInfo.GetCultureInfo(WorkContext.CurrentCulture);
}


<script type="text/javascript">
    var mediaPickerEnabled = @(shellDescriptor.Features.Any(x => x.Name == "Orchard.MediaPicker") ? "true" : "false");
    var mediaLibraryEnabled = @(shellDescriptor.Features.Any(x => x.Name == "Orchard.MediaLibrary") ? "true" : "false");
    var directionality = '@WorkContext.GetTextDirection((IContent)Model.ContentItem)';
    var language =  '@currentCulture.Name.Replace('-', '_')';
    var autofocus = true;
</script>

@{
    Script.Require("OrchardTinyMce");
    Script.Require("jQueryColorBox");
    Style.Require("jQueryColorBox");
}
<h1>@T("Cookie consent parameters")</h1>
<fieldset>
    @Html.LabelFor(m => m.CookieName, T("Cookie name"))
    @Html.TextBoxFor(m => m.CookieName, new { @class = "text medium" })
    <span class="hint">@T("Enter the name of the consent cookie")</span>
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.CookieExpireDelay, T("Cookie expiration delay"))
    @Html.TextBoxFor(m => m.CookieExpireDelay, new { @class = "text medium" })
    @Html.ValidationMessage("CookieExpireDelay", "*")
    <span class="hint">@T("Enter the value in days for the cookie expiration delay")</span>
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.HeaderText, T("Header Text"))
    @Html.TextBoxFor(m => m.HeaderText, new { @class = "text medium" })
    <span class="hint">@T("Enter the text of the header")</span>
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.ButtonText, T("Button Text"))
    @Html.TextBoxFor(m => m.ButtonText, new { @class = "text medium" })
    <span class="hint">@T("Enter the text of the accept button")</span>
</fieldset>
<fieldset>
    <label for="Text">@T("Content of the consent area")</label>
    @Html.TextArea("Text", (string)Model.Text, 25, 80,
     new Dictionary<string, object> {
        {"class", "html tinymce"},
        {"data-mediapicker-uploadpath",""},
        {"data-mediapicker-title",T("Insert/Update Media")},
        {"style", "width:100%"}
     })
</fieldset>